.products-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 50px;
}

.shop-img {
    height: auto;
    max-width: 100%;
}


@media (max-width: 639px) {
  .products-container {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 640px) and (max-width: 767px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .products-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .products-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1536px) {
  .products-container {
    grid-template-columns: repeat(5, 1fr);
  }
}