.checkout-confirm-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .main-header {
        font-weight: bold;
        font-size: large;
        margin-bottom: 10px;

        span {
            color: rgb(200, 50, 100);
        }
    }

    .smaller-header {
        font-size: medium;
    }

    .button-container {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25px;
    }
}